<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508167360591-dopn64s6evebdorp2u1jcoju9n5am4mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508167360591-dopn64s6evebdorp2u1jcoju9n5am4mh</string>
	<key>API_KEY</key>
	<string>AIzaSyDelbXEeVxlXIPCEeBemHkxfhyZJyYKEqk</string>
	<key>GCM_SENDER_ID</key>
	<string>508167360591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.uberUsersApp</string>
	<key>PROJECT_ID</key>
	<string>uber-ola-and-indriver-cl-f6cf4</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-ola-and-indriver-cl-f6cf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508167360591:ios:978932c5d3e86a3fd01a3a</string>
	<key>DATABASE_URL</key>
	<string>https://uber-ola-and-indriver-cl-f6cf4-default-rtdb.firebaseio.com</string>
</dict>
</plist>